.container {
  background: #083f5b;
  color: white;
  border: 2px solid black; /* Add a border */
  border-radius: 10px;
}
.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}
.spaceform-input {
  background-color: rgb(239, 235, 235);
  padding: 3px;
  margin: 3px;
  width: 30%;
  border: 2px solid black; /* Add a border */
  border-radius: 10px;
}
.dropdown-input {
  background-color: rgb(239, 235, 235);
  padding: 3px;
  margin: 3px;
  width: 31%;
  border: 2px solid black; /* Add a border */
  border-radius: 10px;
}
button {
  background: #000;
  color: white;
  padding: 9px;
  margin: 3px;
  font-size: large;
  border-radius: 12px;
}
